:root {
  --r3: -195px;
  --r4: -212px;
  --col-diff: 17px;
  --c1: -14px;
  --c2: calc(var(--c1) - (var(--col-diff) * 1));
  --c3: calc(var(--c1) - (var(--col-diff) * 2));
  --c4: calc(var(--c1) - (var(--col-diff) * 3));
  --c5: calc(var(--c1) - (var(--col-diff) * 4));
  --c6: calc(var(--c1) - (var(--col-diff) * 5));
  --c7: calc(var(--c1) - (var(--col-diff) * 6));
  --c8: calc(var(--c1) - (var(--col-diff) * 7));
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.board-table {
  border-spacing: 0;
}

.board-cell {
  width: 14px;
  height: 14px;
  background-image: url('../assets/sprite.png')
}

.unexposed {
  background-position: var(--c1) var(--r3);
}

.indent, .exposed0 {
  background-position: var(--c2) var(--r3);
}

.flagged {
  background-position: var(--c3) var(--r3);
}

.mine {
  background-position: var(--c6) var(--r3);
}

.exploded-mine {
  background-position: var(--c7) var(--r3);
}

.exposed1 {
  background-position: var(--c1) var(--r4);
}

.exposed2 {
  background-position: var(--c2) var(--r4);
}

.exposed3 {
  background-position: var(--c3) var(--r4);
}

.exposed4 {
  background-position: var(--c4) var(--r4);
}

.exposed5 {
  background-position: var(--c5) var(--r4);
}

.exposed6 {
  background-position: var(--c6) var(--r4);
}

.exposed7 {
  background-position: var(--c7) var(--r4);
}

.exposed8 {
  background-position: var(--c8) var(--r4);
}
